{% extends "ProjetVoxelEmploiBundle::emploiLayout.html.twig" %}

{% block title %}{{ parent() }} - édition de la compagnie {{ company.companyName}}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6">
            {{form(form)}}

        <H2>liste des candidatures : </H2>

        {% for job in company.ListOfJob %}
            {% for appliant in job.appliant %}
                <h4>{{ appliant.username }} a postulé pour le poste de {{ job.name }} :</h4>
                <a class="btn btn-success" href="{{ path('projet_voxel_emploi_validate', {'id':job.id, 'appliantId':appliant.id}) }}" >accepter</a> <a class="btn btn-danger" href="{{ path('projet_voxel_emploi_refuse', {'id':job.id, 'appliantId':appliant.id}) }}">refuser</a>
            {% endfor %}
        {% endfor %}
        </div>
        </div>


        <div class="col-md-3">
        </div>
    </div>
{% endblock %}
