{% extends "ProjetVoxelEmploiBundle::emploiLayout.html.twig" %}

{% block title %}{{ parent() }} - Détails de l'entreprise {{ company.companyName }} {% endblock %}
{% block body %}
<div class="fos_user_user_show row ">
    {% if company.path is not null %}
    <div class="col-md-3 avatar-profile">
        <img src="{{company.webPath}}" alt="..." class="">
    </div>
    <div class="col-md-9 userCard img">
    {% else %}
    <div class="col-md-12 userCard">
    {% endif %}
        <h2>
            {{company.companyName}}
            {% if manager %}
            <a class="editIcone" href="{{ path('projet_voxel_emploi_editEntreprise',  {'id':company.id} ) }}">
                <i id="social" class="fa fa-cog fa-lg"></i>
            </a>
            {% endif %}
        </h2>
        <div class="userCardContent">
            <h3>Déscription de l'entreprises :</h3>
            {{ company.description }}
            <h3>Crée par:<a href="LaRouteVersLeProfileDuType"> {{ company.creator.username }} </a></h3>
            <h3>Possesseurs :</h3>
            <ul>
                {% for owner in company.owner %}
                <li> <a href="LaRouteVersLeProfileDuType"> {{ owner.username }} </a></li>
                {% endfor %}
            </ul>
            <h3>Gérants:</h3>
            <ul>
                {% for manager in company.manager %}
                <li> <a href="LaRouteVersLeProfileDuType"> {{ manager.username }} </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
