{% extends "ProjetVoxelEmploiBundle::emploiLayout.html.twig" %}

{% block title %}{{ parent() }} - Détails de l'entreprise {{ company.companyName }} {% endblock %}
{% block body %}
<table class="col-md-12 uneCompany">
    <tr class="companyName" >
        <td>
            <h2>{{company.companyName}}</h2>
            <p>{{ company.activity }}</p>
        </td>
    </tr>
    <tr class="companyInfo" >
        <td>
            <h3>Déscription de l'entreprises :</h3>
            {{ company.description }}
            <h3>Crée par:<a href="LaRouteVersLeProfileDuType"> {{ company.creator.username }} </a></h3>
            <h3>Possesseurs :</h3>
            <ul>
                {% for owner in company.owner %}
                <li> <a href="LaRouteVersLeProfileDuType"> {{ owner.username }} </a></li>
                {% endfor %}
            </ul>
            <h3>Gérants:</h3>
            <ul>
                {% for manager in company.manager %}
                <li> <a href="LaRouteVersLeProfileDuType"> {{ manager.username }} </a></li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
{% endblock %}
