<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/style.css?v=1.2" rel="stylesheet">
    <title>{% block title %}Projet Voxels{% endblock %}</title>
    {% block css %}
    {% endblock %}
</head>
<body>
    <header>
	    <img id="banniere" class="header-logo" src="{{ app.request.basepath }}/img/Logos/fond.gif" style="width: 1400px;"></img>
        <img id="banniere" class="header-logo" src="{{ app.request.basepath }}/img/Logos/LogotransparantWhite.png"></img>
        <div id="bandeauCo">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="imgProfilNav">
                {% if false %} {# TODO Si a une image #}
                <a>
                    <img src="{# Path img profil#}" alt="..." class="avatar-layout img-circle">
                </a>
                {% else %}
                <a>
                    <i class="fa fa-user fa-lg vatar-layout img-circle"></i>
                </a>
                {% endif %}
            </div>
            <a href="{{ path('fos_user_profile_show')}}" class="pathUserProfile">{{ app.user.username }}</a>
            <div class="iconesUser">
                <a href="{# Path Notif #}#">
                    <i id="social" class="fa fa-bell fa-lg"></i>
                </a>
                <a href="{# Path Mess #}#">
                    <i id="social" class="fa fa-envelope fa-lg"></i>
                </a>
                <a href="{{ path('fos_user_profile_edit')}}#">
                    <i id="social" class="fa fa-cog fa-lg"></i>
                </a>
                <a href="{{ path('fos_user_security_logout') }}#">
                    <i id="social" class="fa fa-sign-out fa-lg"></i>
                </a>
            </div>
            {% else %}
            <div class="imgProfilNav">
                <a>
                    <i class="fa fa-sign-in fa-lg vatar-layout img-circle"></i>
                </a>
            </div>
            <a href="{{ path('fos_user_security_login') }}" id="connexionLink">Connexion</a>
            {% endif %}
        </div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div id="bandeauCoReduit" class="hidden">
            <div class="imgProfilNav">
                {% if false %}{# TODO Si a une image #}
                <a>
                    <img src="{# Path img profil#}" alt="..." class="avatar-layout img-circle">
                </a>
                {% else %}
                <a>
                    <i class="fa fa-user fa-lg vatar-layout img-circle"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div id="bandeauCoBis" class="hidden">
            <div class="imgProfilNav">
                {% if false %} {# TODO Si a une image #}
                <a>
                    <img src="{# Path img profil#}" alt="..." class="avatar-layout img-circle">
                </a>
                {% else %}
                <a>
                    <i class="fa fa-user fa-lg vatar-layout img-circle"></i>
                </a>
                {% endif %}
            </div>
            <a href="{{ path('fos_user_profile_show')}}" class="pathUserProfile">{{ app.user.username }}</a>
            <div class="iconesUser">
                <a href="{# Path Notif #}#">
                    <i id="social" class="fa fa-bell fa-lg"></i>
                </a>
                <a href="{# Path Mess #}#">
                    <i id="social" class="fa fa-envelope fa-lg"></i>
                </a>
                <a href="{{ path('fos_user_profile_edit')}}#">
                    <i id="social" class="fa fa-cog fa-lg"></i>
                </a>
                <a href="{{ path('fos_user_security_logout') }}#">
                    <i id="social" class="fa fa-sign-out fa-lg"></i>
                </a>
            </div>
            <div id="FlecheFermer" class="imgProfilNav">
                <a>
                    <i class="fa fa-arrow-up fa-lg vatar-layout img-circle"></i>
                </a>
            </div>
        </div>
        {% else %}
        <div id="bandeauLogReduit" class="hidden">
            <div class="imgProfilNav">
                <a href="{{ path('fos_user_security_login') }}" >
                    <i class="fa fa-sign-in fa-lg vatar-layout img-circle"></i>
                </a>
            </div>
        </div>
        {% endif %}

    </header>
    <nav id="navbar1" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="#">Projets Voxels</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="nav-accueil" class="navbarItem active" ><a href="#">Accueil</a></li>
                    <li id="nav-galerie" class="navbarItem" ><a href="#">Adminisrtation</a></li>
                    <li id="nav-galerie" class="navbarItem" ><a href="#">Pôle emploie</a></li>
                    <li class="navbarLogo"><img id="logoNavbar" src="{{ app.request.basepath }}/img/Logos/Favico.png"></img></li>
                    <li id="nav-boite" class="navbarItem" ><a href="#">Bourse de voxel</a></li>
                    <li id="nav-boite" class="navbarItem" ><a href="#">Salle des ventes</a></li>
                    <li id="nav-contact" class="navbarItem" ><a href="#">Resencement</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="container contenu">
    {% block body %}
    {% endblock %}
    </div>

    <footer id="lAtelierInfo">
        <div class="container">
            <div class="row">
                <div class="col-md-4 divLogoFooter">
                    <img id="logoFooter" src="{{ app.request.basepath }}/img/Logos/Logotransparant.png"></img>
                </div>
                <div class="col-md-4 footerInfo">
                    <h3>Reseaux sociaux</h3>
                    <a href="#"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
                    <a href="#"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
                    <a href="#"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
                </div>
                <div class="col-md-4 footerInfo">
                    <h3>Informations </h3>
                    <p>Site développé par Nayos et Théo "Nydareld" Guérin.</p>
                    <p>Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2015 Projet Voxels </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ app.request.basepath }}/lib/jquery/jquery-1.11.2.min.js"></script>
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/js/expandBandeau.js"></script>
    <script src="{{ app.request.basepath }}/js/navscroll.js"></script>

    <script>
        $("#nav-{% block navActiv %}{% endblock %}").addClass("active");
    </script>
    {% block js %}
    {% endblock %}

</body>
</html>
