{% extends "ProjetVoxelVentesBundle::ventesLayout.html.twig" %}

{% block title %}{{ parent() }} - catalogue{% endblock %}

{% block body %}

{% if bankid.ownerType == "user" %}
{% set user = bankid.user %}

<div class="fos_user_user_show row">
    {% if user.path is not null %}
    <div class="col-md-3 avatar-profile">
        <img src="{{user.webPath}}" alt="..." class="">
    </div>
    <div class="col-md-9 userCard img">
        {% else %}
        <div class="col-md-12 userCard">
            {% endif %}
            <h2>Catalogue de l'ingénieur {{ user.username }}
                {% if hasWright %}
                <a class="editIcone btn btn-default" href="{{ path('projet_voxel_ventes_add_catalogue_item',  {'bankId':bankid.id} ) }}" role="button">Ajouter</a>
                {% endif %}
            </h2>
            <div class="userCardContent">


{% elseif bankid.OwnerType == "company" %}
{% set company = bankid.company %}

<div class="fos_user_user_show row">
    {% if company.path is not null %}
    <div class="col-md-3 avatar-profile">
        <img src="{{company.webPath}}" alt="..." class="">
    </div>
    <div class="col-md-9 userCard img">
        {% else %}
        <div class="col-md-12 userCard">
            {% endif %}
            <h2>Catalogue de l'entreprise {{ company.companyName }}
                {% if hasWright %}
                <a class="editIcone btn btn-default" href="{{ path('projet_voxel_ventes_add_catalogue_item',  {'bankId':bankid.id} ) }}" role="button">Ajouter</a>
                {% endif %}
            </h2>
            <div class="userCardContent">

{% endif %}



<!-- Un encadré pour l'owner -->
<!-- une liste de catalogueItem -->

                <div class="row">
                    {% for catalogueItem in bankid.catalogue %}
                    <div class="col-md-9">
                        <h3>{{catalogueItem.name}}</h3>

                        {{catalogueItem.type}}
                        {{catalogueItem.quantity}}
                        {{catalogueItem.unitPrice}}
                        <!-- Bloc Description-->
                    </div>

                    <div class="col-md-3">
                        <!-- Bloc ajout panier-->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
